/*
	CREACIÓN DE USUARIO ADMINISTRADOR DEL USUARIO #1.
*/
USE [master]
GO
CREATE LOGIN [FARMACIA1] WITH PASSWORD=N'ucr2019', DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [FARMACIA1]
GO

/*
	CREACIÓN DE LA BASE DE DATOS #1; DE LA FARMACIA #1.
*/

CREATE DATABASE [SUCURSAL1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SUCURSAL1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SUCURSAL1.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SUCURSAL1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SUCURSAL1_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [SUCURSAL1]
GO
USE [SUCURSAL1]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SUCURSAL1] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

/*
	CREACIÓN DE TABLAS DE LA SUCURSAL #1.
*/
USE [SUCURSAL1]
GO

/*
	PARA HACER REFERENCIA A LA FARMACIA #1, SE HACE A TRAVÉS DEL CÓDIGO DE FARMACIA 1, EN LA BASE DE DATOS CENTRAL.
*/

CREATE TABLE EMPLEADOS
(idEmpleado int,
nombre varchar(50),
direccion varchar(100),
salario decimal(10,2),
rol varchar(10),
idFarmacia int default (1),
PRIMARY KEY (idEmpleado))
GO

CREATE TABLE EMPLEADOS_TELEFONOS
(idEmpleado int,
telefono varchar(20),
idFarmacia int default (1),
PRIMARY KEY (idEmpleado, telefono),
FOREIGN KEY (idEmpleado) REFERENCES EMPLEADOS(idEmpleado))
GO

CREATE TABLE EMPLEADOS_CORREOS
(idEmpleado int,
correo varchar(50),
idFarmacia int default (1),
PRIMARY KEY (idEmpleado, correo),
FOREIGN KEY (idEmpleado) REFERENCES EMPLEADOS(idEmpleado))
GO

CREATE TABLE CATEGORIAS
(idCategoria int,
nombre varchar(20),
PRIMARY KEY(idCategoria))
GO

CREATE TABLE PROVEEDORES
(idProveedor int,
nombre varchar(50),
direccion varchar(100),
descripcion varchar(50),
PRIMARY KEY (idProveedor))
GO

CREATE TABLE PROVEEDORES_TELEFONOS
(idProveedor int,
telefono varchar(20),
PRIMARY KEY (idProveedor, telefono),
FOREIGN KEY (idProveedor) REFERENCES PROVEEDORES(idProveedor))
GO

CREATE TABLE PROVEEDORES_CORREOS
(idProveedor int,
correo varchar(50),
PRIMARY KEY (idProveedor, correo),
FOREIGN KEY (idProveedor) REFERENCES PROVEEDORES(idProveedor))
GO

CREATE TABLE INVENTARIO
(idProducto int,
idCategoria int,
nombre varchar(20),
medida varchar(10),
precioVenta decimal(10,2),
precioCompra decimal(10,2),
descripcion varchar(50),
existencias int,
estado char(1),
imagen varchar(200),
PRIMARY KEY (idProducto),
FOREIGN KEY (idCategoria) REFERENCES CATEGORIAS(idCategoria))
GO

CREATE TABLE DETALLEINVENTARIO
(idProducto int,
idProveedor int,
PRIMARY KEY(idProducto, idProveedor),
FOREIGN KEY (idProducto) REFERENCES INVENTARIO(idProducto),
FOREIGN KEY (idProveedor) REFERENCES PROVEEDORES(idProveedor))
GO

CREATE TABLE TIPOPAGO
(idTipoPago int,
descripcion varchar(10)
PRIMARY KEY(idTipoPago))
GO

CREATE TABLE FACTURAS
(idFactura int,
fecha datetime,
montoTotal decimal(10,2),
idEmpleado int,
idFarmacia int default (1),
tipoPago int,
correo varchar(100),
descuento int,
IVA int,
IV int,
PRIMARY KEY (idFactura),
FOREIGN KEY(idEmpleado) REFERENCES EMPLEADOS(idEmpleado),
FOREIGN KEY(tipoPago) REFERENCES TIPOPAGO(idTipoPago))
GO

CREATE TABLE DETALLEFACTURA
(idFactura int,
idProducto int,
costo decimal(10,2),
cantidad int,
subtotal decimal(10,2),
idFarmacia int default (1),
PRIMARY KEY(idFactura, idProducto),
FOREIGN KEY(idFactura) REFERENCES FACTURAS(idFactura),
FOREIGN KEY(idProducto) REFERENCES INVENTARIO(idProducto))
GO

CREATE TABLE USUARIOS
(usuario varchar(20),
contrasena varchar(20),
rol varchar(20),
idEmpleado int,
PRIMARY KEY(usuario),
FOREIGN KEY(idEmpleado) REFERENCES Empleados(idEmpleado));
GO

CREATE TABLE EMP_ING_ACT_ELI
(idEmpleado int,
tipo char(1))
GO

CREATE TABLE EMP_CORREO_ING_ACT_ELI
(idEmpleado int,
correo varchar(50),
tipo char(1))
GO

CREATE TABLE EMP_TEL_ING_ACT_ELI
(idEmpleado int,
telefono varchar(20),
tipo char(1))
GO

CREATE TABLE FACT_ING_ACT_ELI
(idFactura int,
tipo char(1));
GO

CREATE TABLE DET_FACT_ING_ACT_ELI
(idFactura int,
idProducto int,
tipo char(1))
GO

drop table DETALLEFACTURA;
drop table DETALLEINVENTARIO;
drop table EMPLEADOS_CORREOS;
drop table EMPLEADOS_TELEFONOS;
drop table PROVEEDORES_CORREOS;
drop table PROVEEDORES_TELEFONOS;
drop table FACTURAS;
drop table INVENTARIO;
drop table CATEGORIAS;
drop table EMPLEADOS;
drop table PROVEEDORES;
drop table TIPOPAGO;
drop table SUCURSAL;
GO